* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body {
    background-color: black;
    text-align: center;
    color: white;
}
.containner {
    background: linear-gradient(135deg,#00feba,#5b548a);
    /* height: 80vmin; */
    width: 70vmin;
    margin: 80px auto;
    border-radius: 10px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px ;
    flex-wrap: wrap;
    padding-bottom: 20px;

  
}
.error {
    padding-right:70px;
    text-align: left;
    display: none;
}
.header input {
    outline: 0;
    height: 35px;
    font-size: 20px;
    padding-left: 18px;
    padding-right: 12px;
    margin-right: 8px;
    background-color: #ebfffc;
    border-radius: 20px;
    border: none;
    
}
.weather {
    display: none;
}

.search {
   outline: 0;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   border: none;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.search img{
    width: 16px;
}
.weather-icon {
    width: 170px;
    margin-top: 10px;
}
.weather h1 {
    font-size: 80px;
    font-weight: 500;
}
.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.bottom {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.winding , .humiditying {
    width : 40px;
} 
.rightcol , .leftcol {
  display: flex;
  align-items: center;
  text-align: right;


}

.humidity , .wind {
 font-size: 28px;
 margin-top: -6px;
 margin-left: 7px;
}

